<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Business - Crypto</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/currency.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/script.js" defer></script>
    <script src="/js/crypto.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <div class="overlay">
            <ul class="menu-overlay">
                <li><a href="/#crypto">Crypto</a></li>
                <li><a href="/#stock-market">Stock Market</a></li>
                <li><a href="/#currency">Valuták</a></li>
            </ul>
            <div class="close">
                <hr class="left">
                <hr class="right">
            </div>
        </div>
        <nav class="navbar">
            <a href="/"><img src="/img/logo.png" title="Logo" alt="Logo" class="logo"></a>
            <hr class="split">
            <ul class="menu">
                <a href="/#crypto">
                    <li>Crypto</li>
                </a>
                <a href="/#stock-market">
                    <li>Stock Market</li>
                </a>
                <a href="/#currency">
                    <li>Valuták</li>
                </a>
            </ul>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="introduction-currency">
            <div class="img-coin">
                <img src="/img/crypto/crypto1.png" title="Currency" alt="Currency">
            </div>
            <div class="img-dollar">
                <img src="/img/crypto/crypto2.png" title="Currency" alt="Currency">
            </div>
            <div class="img-recycle-dollar">
                <img src="/img/crypto/crypto3.png" title="Currency" alt="Currency">
            </div>
            <div class="introduction-currency-text">
                <p class="big-text">Kriptovaluta</p>
                <p>
                    Kriptovaluták digitális eszközök, melyek decentralizált rendszereken alapulnak, például a blockchain
                    technológián. Ezeket általában pénzügyi tranzakciókhoz használják, de más célokra is alkalmazzák. A
                    Bitcoin az egyik legismertebb példa, de számos más kriptovaluta létezik, mint az Ethereum vagy a
                    Litecoin. A kriptovaluták decentralizáltak és anonim tranzakciókat tesznek lehetővé, és az elmúlt
                    években jelentős figyelmet kaptak a pénzügyi és technológiai szektorokban.
                </p>
            </div>
        </section>
        <section class="exchange">
            <p class="big-text" style="margin: 0; text-align: center; padding-top: 15px; margin-bottom: 10px;">Crypto
                API</p>
            <div class="input-result">
                <div class="inputs">
                    <div class="form">
                        <label for="stock">Ha több<a href="https://coinlayer.com/symbols"
                                style="color: black; text-decoration: underline;">kripto jelet</a>akarsz megadni,
                            vesszővel válaszd el!</label>
                        <input type="text" placeholder="A kriptovaluta rövidítése" id="crypto-symbol">
                        <button>Lekérdezés</button>
                        <button id="clear" class="hide">Törlés</button>
                        <input type="text" placeholder="Keresés" name="search" id="search" class="hide">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <span><i class="fa-solid fa-copyright" style="font-size: 1.3rem;"></i> 2024 Money Business Inc. Minden jog
            fenntartva</span>
        <a href="/"><img src="/img/logo.png" title="Logo" alt="Logo"></a>
        <div class="social-media">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-square-x-twitter"></i></li>
                <li><i class="fa-brands fa-reddit"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </div>
    </footer>
</body>

</html>