<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Business - Currency</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/currency.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/script.js" defer></script>
    <script src="/js/currency.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <div class="overlay">
            <ul class="menu-overlay">
                <li><a href="/#crypto">Crypto</a></li>
                <li><a href="/#stock-market">Stock Market</a></li>
                <li><a href="/#currency">Valuták</a></li>
            </ul>
            <div class="close">
                <hr class="left">
                <hr class="right">
            </div>
        </div>
        <nav class="navbar">
            <a href="/"><img src="/img/logo.png" title="Logo" alt="Logo" class="logo"></a>
            <hr class="split">
            <ul class="menu">
                <a href="/#crypto">
                    <li>Crypto</li>
                </a>
                <a href="/#stock-market">
                    <li>Stock Market</li>
                </a>
                <a href="/#currency">
                    <li>Valuták</li>
                </a>
            </ul>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="introduction-currency">
            <div class="img-coin">
                <img src="/img/currency/coin.png" title="Currency" alt="Currency">
            </div>
            <div class="img-dollar">
                <img src="/img/currency/dollar.png" title="Currency" alt="Currency">
            </div>
            <div class="img-recycle-dollar">
                <img src="/img/currency/recycle-dollar.png" title="Currency" alt="Currency">
            </div>
            <div class="introduction-currency-text">
                <p class="big-text">Valuták, valutaváltás</p>
                <p>
                    Az árfolyamok folyamatosan változnak a globális pénzügyi piacokon, és ezeknek az információknak a
                    követése létfontosságú lehet az üzleti és személyes döntések meghozatalához. A Money Business
                    API-jának segítségével gyorsan és könnyedén hozzáférhetsz a legfrissebb valutaárfolyamokhoz. Legyen
                    szó dollárról, euróról vagy más fontos valutákról, nálunk megtalálod a szükséges információkat.
                    Csatlakozz hozzánk ma, és fedezd fel, hogyan segíthetünk a pénzügyi döntések meghozatalában!
                </p>
            </div>
        </section>
        <section class="exchange">
            <p class="big-text" style="margin: 0; text-align: center; padding-top: 15px; margin-bottom: 10px;">Valuta API</p>
            <div class="input-result">
                <div class="inputs">
                    <div class="form">
                        <input type="text" placeholder="Az ország valutakódja" id="exchange-code">
                        <div>
                            <input type="checkbox" name="checkbox" id="checkbox">
                            <label for="checkbox">Valutaváltás opció igénybevétele</label>
                        </div>
                        <div class="checkbox-click" id="checkboxClickDiv">
                            <input type="text" placeholder="A másik ország valutakódja">
                            <input type="number" placeholder="Mennyit akarsz átváltani?">
                        </div>
                        <button id="query">Lekérdezés</button>
                        <button id="clear">Törlés</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <span><i class="fa-solid fa-copyright" style="font-size: 1.3rem;"></i> 2024 Money Business Inc. Minden jog fenntartva</span>
        <a href="/"><img src="/img/logo.png" title="Logo" alt="Logo"></a>
        <div class="social-media">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-square-x-twitter"></i></li>
                <li><i class="fa-brands fa-reddit"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </div>
    </footer>
</body>

</html>