<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Business</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/script.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <div class="overlay">
            <ul class="menu-overlay">
                <li><a href="/#crypto">Crypto</a></li>
                <li><a href="/#stock-market">Stock Market</a></li>
                <li><a href="/#currency">Valuták</a></li>
            </ul>
            <div class="close">
                <hr class="left">
                <hr class="right">
            </div>
        </div>
        <nav class="navbar">
            <img src="/img/logo.png" title="Logo" alt="Logo" class="logo">
            <hr class="split">
            <ul class="menu">
                <a href="/#crypto"><li>Crypto</li></a>
                <a href="/#stock-market"><li>Stock Market</li></a>
                <a href="/#currency"><li>Valuták</li></a>
            </ul>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="introduction">
            <div class="introduction-text">
                <p class="big-text">Próbáld ki te is!</p>
                <p>A Money Business ingyenes hozzáférést biztosít kripto, részvények és a valuták pontos értékeihez.
                    Igen, ingyen! Semmilyen érték felszámolása nem történik. Hát nem nagyszerű?</p>
            </div>
            <div class="img-human">
                <img src="/img/introduction/introduction-human.png" title="Human" alt="Human">
            </div>
            <div class="img-crypto">
                <img src="/img/introduction/introduction-crypto.png" title="Crypto" alt="Crypto">
            </div>
            <div class="img-euro">
                <img src="/img/introduction/introduction-euro.png" title="Euro" alt="Euro">
            </div>
        </section>
        <section class="references">
            <ul class="references-text">
                <li>1.000.000+ felhasználó</li>
                <li>5.000.000+ lekérdezés</li>
            </ul>
            <div class="references-companies">
                <img src="/img/references/references-company1.png" title="WealthEdge Finance" alt="WealthEdge Finance">
                <img src="/img/references/references-company2.png" title="SummitWealth Partners"
                    alt="SummitWealth Partners">
                <img src="/img/references/references-company3.png" title="ApexPeak Wealth" alt="ApexPeak Wealth">
            </div>
        </section>
        <section class="crypto" id="crypto">
            <img src="/img/crypto.png" title="Crypto" alt="Crypto">
            <div class="crypto-text-div">
                <p class="big-text">Crypto</p>
                <p>
                    A kriptovaluták mögött álló technológia, a blokklánc, forradalmi változást
                    hoz a pénzügyi rendszerekben. Ez a decentralizált, biztonságos és átlátható technológia lehetővé
                    teszi a közvetlen és gyors pénzátutalásokat világszerte, anélkül hogy közvetítőkre lenne
                    szükség. A kriptovaluták gyakran utalnak rájuk, mint a digitális kor
                    aranyrögjeire. Ahogy az arany értékét hosszú ideje elismerték a befektetők és a kereskedők, úgy a
                    kriptovaluták is egyre inkább értékálló eszközként kerülnek számba.
                </p>
                <br>
                <p style="font-weight: bold;">Próbáld ki az API-t itt!</p>
                <button class="more-information">További információ</button>
            </div>
        </section>
        <section class="stock-market" id="stock-market">
            <div class="stock-market-text-div">
                <p class="big-text">Stock Market</p>
                <p>
                    A tőzsdepiac egy olyan intézmény vagy rendszer, ahol a résztvevők részvényeket és más értékpapírokat
                    vásárolnak és eladnak. Ezek az értékpapírok a vállalatok tulajdonrészét képviselik. A tőzsde
                    működése során a kereskedők általában a részvények árának emelkedésére vagy csökkenésére
                    spekulálnak, és az ajánlatok és keresletek alapján alakul ki az árfolyamok. A tőzsdepiac fontos
                    része a gazdasági rendszernek, mivel segít a vállalatoknak tőkét szerezni és a befektetőknek
                    lehetőséget biztosít a befektetésre és a portfóliójuk diverzifikálására.
                </p>
                <br>
                <p style="font-weight: bold;">Próbáld ki az API-t itt!</p>
                <button class="more-information">További információ</button>
            </div>
            <img src="/img/stock-market.png" title="Stock-market" alt="Stock-market">
        </section>
        <section class="currency" id="currency">
            <img src="/img/currency.png" title="Currency" alt="Currency">
            <div class="currency-text-div">
                <p class="big-text">Valuták</p>
                <p>
                    A valuták az országok hivatalos pénznemét képviselik, és globális pénzügyi rendszerekben használják
                    őket kereskedésre és tranzakciókra. A valuták árfolyamai folyamatosan változnak a kereslet és
                    kínálat alapján, és ezeket a változásokat befolyásolják a gazdasági, politikai és geopolitikai
                    események. A devizapiacon, vagy más néven forex piacon, a kereskedők devizapárokat kereskednek,
                    például az EUR/USD vagy a GBP/JPY, és profitra törekszenek a devizapárok árfolyamának változásai
                    alapján.
                </p>
                <br>
                <p style="font-weight: bold;">Próbáld ki az API-t itt!</p>
                <button class="more-information">További információ</button>
            </div>
        </section>
    </main>
    <footer>
        <span><i class="fa-solid fa-copyright" style="font-size: 1.3rem;"></i> 2024 Money Business Inc. Minden jog fentartva</span>
        <img src="/img/logo.png" title="Logo" alt="Logo">
        <div class="social-media">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-square-x-twitter"></i></li>
                <li><i class="fa-brands fa-reddit"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </div>
    </footer>
</html>