<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Business - Stock Market</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/currency.css">
    <link rel="stylesheet" href="/styles/stock.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/script.js" defer></script>
    <script src="/js/stock.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <div class="overlay">
            <ul class="menu-overlay">
                <li><a href="/#crypto">Crypto</a></li>
                <li><a href="/#stock-market">Stock Market</a></li>
                <li><a href="/#currency">Valuták</a></li>
            </ul>
            <div class="close">
                <hr class="left">
                <hr class="right">
            </div>
        </div>
        <nav class="navbar">
            <a href="/"><img src="/img/logo.png" title="Logo" alt="Logo" class="logo"></a>
            <hr class="split">
            <ul class="menu">
                <a href="/#crypto">
                    <li>Crypto</li>
                </a>
                <a href="/#stock-market">
                    <li>Stock Market</li>
                </a>
                <a href="/#currency">
                    <li>Valuták</li>
                </a>
            </ul>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="introduction-stock">
            <div class="img-stock1">
                <img src="/img/stock/stock1.png" title="Stock Market" alt="Stock Market">
            </div>
            <div class="img-stock2">
                <img src="/img/stock/stock2.png" title="Stock Market" alt="Stock Market">
            </div>
            <div class="img-stock3">
                <img src="/img/stock/stock3.png" title="Stock Market" alt="Stock Market">
            </div>
            <div class="introduction-stock-text">
                <p class="big-text">Stock Market</p>
                <p>
                    A tőzsde egy olyan intézmény, ahol részvények és egyéb pénzügyi eszközök kereskedésére kerül sor. Ez
                    a piac lehetővé teszi a vállalatok számára, hogy tőkét gyűjtsenek befektetőktől részvényeik
                    értékesítésével, míg az befektetők lehetőséget kapnak a részvényekbe és más eszközökbe történő
                    befektetésre. A tőzsdei kereskedés általában részvények általános árképzését tükrözi, amelyet számos
                    tényező befolyásol, beleértve a vállalati teljesítményt, a gazdasági helyzetet és a piaci
                    hangulatot. A tőzsdei kereskedés dinamikus és változékony lehet, és fontos szerepet játszik a
                    globális gazdasági rendszerben.
                </p>
            </div>
        </section>
        <section class="stock-query">
            <p class="big-text" style="margin: 0; text-align: center; padding-top: 15px; margin-bottom: 10px;">Stock API</p>
            <div class="input-result">
                <div class="inputs">
                    <div class="form">
                        <label for="stock">Ha több ticker jelet akarsz megadni, vesszővel válaszd el!</label>
                        <input type="text" name="stock" id="stock" placeholder="A cég(ek) ticker jelei">
                        <button>Lekérdezés</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <span><i class="fa-solid fa-copyright" style="font-size: 1.3rem;"></i> 2024 Money Business Inc. Minden jog
            fenntartva</span>
        <a href="/"><img src="/img/logo.png" title="Logo" alt="Logo"></a>
        <div class="social-media">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-square-x-twitter"></i></li>
                <li><i class="fa-brands fa-reddit"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </div>
    </footer>
</body>

</html>