@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.introduction-currency {
    display: grid;
    grid-template-rows: repeat(2, 280px);
    grid-template-columns: repeat(3, 30%);
    background-color: rgb(220, 248, 255);
}

.introduction-currency .img-coin {
    grid-area: 1 / 1 / 3 / 3;
}

.introduction-currency .img-dollar {
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
    margin-bottom: 20px;
}

.introduction-currency .img-recycle-dollar {
    grid-area: 2 / 3 / 3 / 4;
    place-self: center;
    margin-bottom: 20px;
}

.introduction-currency-text {
    grid-area: 1 / 2 / 3 / 4;
    margin-left: 10px;
}

.exchange {
    background-color: rgb(180, 248, 255);
}

.input-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.input-result * {
    font-size: 1.3rem;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 10px;
}

.input-result *:not(:last-child) {
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.form button {
    font-family: "Josefin Sans";
    cursor: pointer;
}

.form #clear {
    display: none;
}

.checkbox-click {
    display: none;
}

.checkbox-click-on {
    display: flex;
    flex-direction: column;
}

.checkbox-click-on *:not(:last-child){
    margin-bottom: 20px;
}

::placeholder {
    font-family: "Josefin Sans";
    overflow: hidden;
}
  
::-ms-input-placeholder {
    font-family: "Josefin Sans";
}

.result button {
    width: 100%;
    cursor: pointer;
    font-family: "Josefin Sans";
}

.result-text {
    display: flex;
    justify-content: space-around;
}

.result-text .result-text-div {
    display: flex;
    flex-direction: column;
}

.result-text .result-text-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
}


@media (max-width: 1105px) {
    .result-text {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .introduction-currency {
        grid-template-rows: repeat(3, 250px);
        grid-template-columns: repeat(5, 32%);
    }

    .introduction-currency .img-coin {
        grid-area: 2 / 1 / 4 / 2;
        place-self: center;
    }

    .introduction-currency .img-dollar {
        grid-area: 2 / 2 / 4 / 3;
        place-self: center;
    }
    
    .introduction-currency .img-recycle-dollar {
        grid-area: 2 / 3 / 4 / 4;
        place-self: center;
    }

    .introduction-currency-text {
        grid-area: 1 / 1 / 2 / 4;
        margin-left: 50px;
    }

    .input-result {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .introduction-currency {
        grid-template-rows: repeat(2, 220px);
    }

    .introduction-currency .img-coin,
    .introduction-currency .img-dollar,
    .introduction-currency .img-recycle-dollar {
        display: none;
    }

    .introduction-currency-text {
        grid-area: 1 / 1 / 3 / 4;
        margin-left: 20px;
        place-self: center;
    }
}

@media (max-width: 425px) {
    .introduction-currency {
        grid-template-rows: repeat(2, 275px);
    }
}

@media (max-width: 320px) {
    .introduction-currency {
        grid-template-rows: repeat(2, 330px);
    }

    .form *, .exception-div * {
        padding: 4px;
    }
}